<% include ./partials/header %>

<div class="container">
  <form class="" action="/login" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit" name="button">Submit</button>
  </form>

</div>

<% include ./partials/footer %>
